@model CardViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="Card" asp-action="Create" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="All"></div>
        <label asp-for="CardFront"></label>:<br />
        <textarea asp-for="CardFront"></textarea><br />
        <span asp-validation-for="CardFront"></span><br />
        <label asp-for="CardBack"></label>:<br />
        <textarea asp-for="CardBack"></textarea><br />
        <span asp-validation-for="CardBack"></span><br />
        <button type="submit">Add Card</button>
    </div>
</form>