
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<a asp-page="./EditReport" asp-route-id="@report.IntegrityReportId" class="btn btn-default"><i class="fa fa-edit"></i></a>*@
<a asp-controller="Card" asp-action="Create" class="btn btn-default">Create New Card</a>
<a asp-controller="Card" asp-action="ViewCard" class="btn btn-default">View Cards</a>
