
@{
    ViewData["Title"] = "Index";
}

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

<h2>Index</h2>

@*<a asp-page="./EditReport" asp-route-id="@report.IntegrityReportId" class="btn btn-default"><i class="fa fa-edit"></i></a>*@
<a asp-controller="Account" asp-action="ViewUser" class="btn btn-default">View All Users</a>
<a asp-controller="Account" asp-action="MyInfo" class="btn btn-default">View Your Account</a>
<a asp-controller="Account" asp-action="UserSearch" class="btn btn-default">Search for a user</a>