
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<a asp-page="./EditReport" asp-route-id="@report.IntegrityReportId" class="btn btn-default"><i class="fa fa-edit"></i></a>*@
<a asp-controller="Account" asp-action="ViewUser" class="btn btn-default">View All Users</a>