@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>- About us -</h2>
<div class="row">
    <h3><i>Team description and app capabilities will go here. Outside of scope for sprint one.</i></h3>
    @*<div class=" img-rounded" />*@
</div>
<hr>

<h2>- Team Members -</h2>
<ul>
    <li>Ethan Gaudet</li>
    <li>Parker Benthem</li>
    <li>Danial Floca</li>
    <li>Garrett Fraiser</li>
</ul>
<hr>

<h2>- Version History -</h2>

<div class="row">
    <h3><i>Upon release of live application, update information and patches, as well as items changes from previous versions, will go here</i></h3>
    @*<div class=" img-rounded" />*@
</div>
<hr>
<!--todo: back to top links, etc-->
