@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h3>App image will go here! (Sprint 2 on final design)</h3>
    @*<div class=" img-rounded" />*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application uses</h2>
        <ul>
            <!-- todo: count of all cards in DB. may want to do a daily query + hold it here or load model. or scrap. razor inject into the line here. provide alternate links to clicking the toolbar-->
            <li>Browse our growing library of cards (currently at: <i>xx</i>)</li>
            <li>Currently hosting __ decks! click *here* (todo) to browser or navigate via the toolbar.</li>
            <li>Join the Memoraide community: currently growing with over __ members! </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>How to use</h2>
        <ol>
            <li>basic site usage instructions, creating a card and account can go here.</li>
            <li>For more information, visit the about page</li>
        </ol>
    </div>
</div>
<br />

<hr>
<div class="row">
    <div class="col-md-4">
        <h3>Site News</h3>
        <ul>
            <li>Low priority: articles, updates to app, etc can go here.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Future update features</h3>
        <ul>
            <li><i>Feaures to be added in future patches go here. this might be replaced with a table + estimated delivery date.</i></li>
            <li>- Sitewide styling update</li>
        </ul>
    </div>
</div>
<!--todo: back to top links, etc-->